﻿<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %} :: ЭЭГ-сервер </title>
    </head>
    <body>
    <div>
        <h2>ЕЕГ сервер</h2>
    </div>
       <div id="main">
        {% block main %}
        {% endblock %}
       </div>
    </body>
</html>
