<h3>Добавить пользователя</h3>
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <table>
        {{ createform }}
    </table>
    <input id="useradd" type="submit" value="Добавить"/>
</form>
