<h3> Добавить трек </h3>
<form action="{% url 'data' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ dataform.errors }}</td>
        </tr>
        <tr>
            <th>{{ dataform.user.label }}</th>
            <td>{{ dataform.user }}</td>
        </tr>
        <tr>
            <td>
                <table id="help_search">
                </table>
            </td>
        </tr>
        <tr>
            <th>{{ dataform.data.label }}</th>
            <td>{{ dataform.data }}</td>
        </tr>
        <tr>
            <th>{{ dataform.comment.label }}</th>
            <td>{{ dataform.comment }}</td>
        </tr>

        <tr>
            <th>{{ dataform.chunk.label }}</th>
            <td>{{ dataform.chunk }}</td>
        </tr>
        <tr>
            <th>{{ dataform.num_chunk.label }}</th>
            <td>{{ dataform.num_chunk }}</td>
        </tr>
    </table>
    <input id="sendingdata" type="submit" value="Отправить"/>
</form>

<script>
   document.getElementById("{{ dataform.user.id_for_label }}").addEventListener("input", function () {
    var search_field = document.getElementById("{{ dataform.user.id_for_label }}");
    var search_text = search_field.value;
    var search_result_field = document.getElementById("help_search");
    if (search_text.length >= 2) {
        var request = new XMLHttpRequest();
        //var requestURL = "headers/"; //убрать хардкод
        var requestURL = "search/" + search_text; //убрать хардкод
        request.open("GET", requestURL, true);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.setRequestHeader("help-login", "help-login");
        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            var response = request.responseText;
            search_result_field.innerHTML = response;
          }
        };
        request.send(null);

    }
    else{
        search_result_field.innerHTML = " ";
    }
})

</script>