<h3>Войти</h3>
{% if user.is_authenticated %}
    <div>
        <p>Welcome, {{ user.login }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Выйти"/>
        </form>
    </div>
{% else %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            {{ loginform }}
        </table>
        <input type="submit" value="Войти" />
    </form>
{% endif %}
