{% if users %}
    {% for user in users %}
        <tr><td>{{ user.get_full_name }}</td></tr>
    {% endfor %}
{% endif %}
{% if logins %}
    {% for login in logins %}
        <tr><td>{{ login.login }}</td></tr>
    {% endfor %}
{% endif %}